$primary: #8142a6;
$on-primary: #ffffff;
$logo-color-box-shadow: rgba($primary, 0.10);

$secondary: #68596e;
$on-secondary: #ffffff;

$tertiary: #815253;
$on-tertiary: #ffffff;

$header: #221728;
$on-header: #f0dcf5;

$outline: #7d747e;

$background: #fffbff;
$on-background: #1d1b1e;

$surface: #f9f1fa;
$on-surface: #4b444d;

$surface-elevation-1: #f3e7f5;
$surface-elevation-2: #e8d0eb;

$font-family: "Google Sans","Product Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

:root {
	accent-color: $primary;
}
