@import "globals";

$page-size: 60rem;
$navbar-height: 4rem;
$footer-height: $navbar-height;
$navbar-logo-size-percent: 0.75;

* {
	font-family: $font-family !important;
}
[class^="icon-"],
[class*=" icon-"] {
	font-family: FontAwesome !important;
}

html,
body,
.page-content {
	background: $background;
	color: $on-background;
	scroll-padding-top: $navbar-height;
}

.page-content {
	box-sizing: border-box;
	width: $page-size;
	max-width: 100%;
	min-height: 100vh;
	padding: 2rem;
	padding-top: $navbar-height + 1rem;
	padding-bottom: $footer-height + 2rem;
}

.navbar {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: $header;
	color: $on-header;
	padding: 0 1rem;
	height: $navbar-height !important;
	min-height: unset;

	.navbar-inner {
		box-sizing: border-box;
		background: transparent !important;
		color: inherit;
		max-width: $page-size;
		margin: auto;
		min-height: unset;

		> .container-fluid {
			display: flex;
			> * {
				flex: 1;
			}

			// UoM logo
			.brand {
				flex: 0;
				background: url("https://assets.manchester.ac.uk/logos/hi-res/TAB_UNI_MAIN_logo/White_for_coloured_background/TAB_allwhite.png") no-repeat;
				background-size: contain;
				aspect-ratio: 543 / 230;
				height: $navbar-height * $navbar-logo-size-percent;
				width: auto;
				padding: 0;
				margin: 0;
				margin-top: calc($navbar-height * (1 - $navbar-logo-size-percent) / 2);
				margin-right: 2rem;
				margin-left: 2rem;
				float: none;
				color: transparent;
				font-size: 0;
			}
		}
	}

	ul.nav {
		float: none;
		display: flex;

		> li {
			float: none;

			&:first-child {
				flex: 1;
			}

			> a {
				float: none;
				color: $on-header !important;
			}
		}
	}
}

.thumbnail {
	background: $surface;
	color: $on-surface;
	border: none;
	border-radius: 0.5rem;
	box-shadow: none;
}

.btn {
	text-shadow: none !important;
	border: none !important;
	box-shadow: none !important;
}
.btn-primary {
	background: $primary;
	color: $on-primary;
}
.btn-danger {
	background: $error;
	color: $on-error;
}

#footer {
	position: absolute;
	height: $footer-height;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	color: $on-header;
	border: none;
	font-size: inherit;

	&::before {
		display: block;
		content: "";
		position: absolute;
		width: 100vw;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;

		background: $header;
		color: $on-header;
	}

	a {
		color: white !important;
	}

	.icon-2x {
		font-size: 1.5em;
	}
}

.nav-tabs {
	border: none;

	> li {
		&,
		> a {
			border: none;
			border-radius: 0.5rem;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:first-of-type,
		&:first-of-type > a {
			border-bottom-left-radius: 0.5rem;
		}
		&:last-of-type,
		&:last-of-type > a {
			border-bottom-right-radius: 0.5rem;
		}
	}
	> .active > a {
		&,
		&:hover,
		&:focus {
			border: none;
			background: $surface;
			color: $on-surface;
		}
	}
}
.tabarea {
	background: $surface;
	color: $on-surface;
	border: none;
	border-radius: 0.5rem;

	hr {
		border: none;
		border-bottom: 1px solid rgba($on-surface, 0.1);
		border-radius: 1px;
		width: 80%;
		margin: 2rem auto;
	}

	h4.center {
		margin: 0;
		margin-top: 0.2rem;
		margin-bottom: 1rem;
		width: unset;
		text-align: initial;
	}
}

.table-striped tbody > tr:nth-child(2n-1) {
	> td,
	> th {
		background: $surface;
	}
}
.table-striped tbody > tr:nth-child(2n) {
	> td,
	> th {
		background: $surface-elevation-1;
	}
}

.accordion-group {
	border: none;
	border-radius: 0.5rem;

	.accordion-heading {
		border-radius: 0.5rem;
		background-color: $secondary;
		color: $on-secondary;
		.accordion-toggle {
			color: $on-secondary;
		}
	}
	.accordion-inner {
		border: none;
		border-radius: 0.5rem;
		background-color: $surface-elevation-1;
		color: $on-surface;
	}
	&:has(.accordion-body.in.collapse) {
		.accordion-heading {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.accordion-inner {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

#duo_iframe {
	border-radius: 0.5rem;
}
