@use "sass:color";
@import "globals";

a, a:link {
	color: $primary;
	text-decoration: none;
}

html, body, body#cas {
	background: $background;
}
#container {
	background: transparent;
	width: auto;
	padding: 2rem;
}
#content {
	overflow: visible;
	background: transparent;
}
#content::after {
	content: "";
	clear: both;
	display: table;
}

header,
footer {
	display: none;
}

#logincol {
	display: block;
	width: auto;
	float: none;
	margin: 0;
	text-align: center;
}
#logincol::before {
	display: inline-block;
	content: "Welcome to the University of Manchester!";
	font-size: 2rem !important;
	line-height: 1;
	margin-bottom: 1rem;
	color: $on-background;
	text-align: start;
	padding: 1rem;
}

#login, #logout {
	background: $surface;
	color: $on-surface;
	border: none;
	box-shadow: none;
	float: none;
	margin: auto;
	width: auto;
	max-width: 500px;
	text-align: start;
	padding: 0;
	border-radius: 0.5rem;

	h2 {
		display: none;
	}
	p {
		background: none;
	}

	.row.btn-row {
		border-top: none !important;
	}

	form#fm1 {
		padding: 1rem;
	}

	.row.btn-row {
		display: flex;
		flex-flow: row nowrap;
	}
	#logoutbutton,
	.btn-submit,
	.btn-reset {
		background: transparent;
		border: none !important;
		font-size: 1rem;
	}
	#logoutbutton,
	.btn-submit {
		background: $primary;
		color: $on-primary;
	}
	.btn-reset {
		width: auto;
	}
	#logoutbutton:hover,
	.btn-submit:hover {
		background: color.adjust($primary, $lightness: -10%);
		border: none;
	}
}

#login {
	&::before {
		display: block;
		content: "";
		width: 100%;
		aspect-ratio: 20 / 9;
		background: url("https://www.manchester.ac.uk/connect/contact-us/Contact-us.jpg") no-repeat center center;
		background-size: cover;
		border-radius: 0.5rem 0.5rem 0 0;
	}
}

// styles from Bootstrap
input:not([type="checkbox"]), input.required {
	box-sizing: border-box;
	width: 100%;
	background: white;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: $on-background;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .375rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	&:focus {
		color: $on-background;
		background-color: #fff;
		border-color: $primary;
		outline: 0;
		box-shadow: 0 0 0 .25rem rgba($primary,.25);
	}
}

#cas #login label {
	font-size: 1rem;
	color: $on-surface;
	margin-bottom: 0.5rem;
}
span.accesskey { // Underlines the first letter of the label
	text-decoration: none;
}

#option_ticks {
	display: none;
}

#aup_block { // Acceptable Use Policy
	display: none !important;
}

.ui-widget-content {
	border: none;
}
#sidebar {
	display: none;
}

@media only screen and (width <= 855px) {
	body, body#cas {
		background: $background;
	}
	#container {
		background: transparent;
	}
	#fm1 .row .btn-reset {
		display: initial;
	}
}

#msg {
	border: none !important;
	background: $surface !important;
	color: $on-surface;
	width: 100%;
	box-sizing: border-box;
	padding: 2rem 4rem !important;
	border-radius: 0.5rem;

	&.success {
		background-color: $primary !important;
		color: $on-primary;
	}
}

#placestogo, #logout {
	float: none !important;
	width: auto !important;
	max-width: 500px;
	box-sizing: border-box;
	background: $surface;
	color: $on-surface;
	margin: auto auto 2rem;
	padding: 2rem 4rem;
	border: none;
	border-radius: 0.5rem;

	h3 {
		background: transparent;
		color: $on-surface;
	}

	p a {
		&, &:link, &:visited {
			color: $primary;
			text-decoration: none;
		}
	}
}
