@import "globals";

body,
.wrapper,
footer {
	background: $background;
	color: $on-background;
}
.container {
	position: static;
	width: 100%;
	margin: auto;
	padding: 2rem;
	max-width: 600px;
	box-sizing: border-box;
}
.column.one {
	width: 100%;
}
.column.two {
	display: none;
}

header img {
	background-color: $background;
	background-blend-mode: darken;
}

h3 {
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $primary;
	text-align: inherit !important;
}

#duo_iframe {
	display: block;
	margin: auto;
	border-radius: 0.5rem;
}
