@import "globals";

body.mybb-shell {
	background-color: $header;
}

.title-date, .title-text {
	color: $primary;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

.side-nav {
	background-color: $header;
	color: $on-header;
}
.iframe-wrap,
.current_filter,
.vertical_filter .left_stream_wrapper {
	border: none;
	box-shadow: none;
}

.stream_left {
	overflow-x: visible !important;
}
.active_stream_item {
	border: 1px solid rgba(0,0,0,0.03);
}

.vertical_filter .stream_header,
div#dynamic_filters_alerts.stream_dynamic_filters {
	background: $background;
	color: $on-background;
}

.stream_new_entry,
#left_stream_alerts .stream_item,
#left_stream_alerts .stream_item.stream_new_entry:hover {
	background: $surface;
	color: $on-surface;
	border: none;
	box-shadow: none;
	border-radius: 0.5rem;
	margin-bottom: 1rem;

	&:hover {
		background: $surface;
		color: $on-surface;
	}
}
