@import "globals";

.portlet,
.container,
div.container {
	border: none;
	h2 {
		font-size: 2rem;
	}
	h2 ~ div {
		background: $surface;
		color: $on-surface;
		border-radius: 0.5rem;
	}
}

#content > .container {
	background: transparent;
	box-shadow: none;
}
