@import "globals";

.portlet,
.container,
div.container {
	border: none;
	background: $surface;
	color: $on-surface;
	border-radius: 0.5rem;
}

#content > .container {
	background: transparent;
	box-shadow: none;
}
