@import "globals";

#containerdiv {
	overflow: visible;
}
.pageTitle h1 {
	padding-left: 0;
}
.rubricGradingList {
	input, label, input[type="checkbox"] + label {
		margin: 0;
		width: auto;
	}
	label, input[type="checkbox"] + label {
		margin: 0;
		float: none;
	}
}
