@import "globals";

body.mybb-shell {
	background-color: $primary;
}

.title-date, .title-text {
	color: $primary;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

.stream_left {
	overflow-x: visible !important;
}
.active_stream_item {
	border: 1px solid rgba(0,0,0,0.03);
	@include box-shadow-light-mode;
}
