@import "globals";

/* set better fonts */
* {
	font-family: $font-family !important;
}

/* disable quick links popup because I don't use it, remove these lines if you do use this */
#quick_links_wrap {
	display: none !important;
}

/* Replace welcome image */
img[src="https://online.manchester.ac.uk/branding/_96_1/welcome-image03.png"] {
	background: url("https://adil.hanney.org/public-assets/cat.jpg") center center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-left: 100%;
	padding-top: 70%;
}

/* collapse Communications tab */
#div_308_1 .vtbegenerated > h5:nth-of-type(2n) {
	&,
	& ~ *,
	& ~ * > p {
		display: -webkit-box;
		transition: opacity 0.5s;
		transition-property: -webkit-line-clamp, opacity;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		opacity: 0.6;
	}
	&:hover,
	& ~ *:hover,
	& ~ *:hover > p {
		-webkit-line-clamp: 100;
		opacity: 1;
	}
}



body,
.locationPane {
	background: $background;
}

a,
.portlet .subCategories li a,
.blockGroups .itemHead,
.blockGroups .itemHeadOpen,
[style*="color:#0000FF"],
[style*="color: #0000ff"],
[style*="color: blue"] {
	color: $primary !important;
}
.eval-links .genericButton,
.eval-links .button-4,
.eval-links input[type="button"].genericButton,
[style*="color: #174e86"] {
	color: darken($primary, 10%) !important;
}
[style*="color: #24a6bb"] {
	color: lighten($primary, 10%) !important;
}
.detail-heading h2 a {
	border-bottom-color: darken($primary, 10%);
}

h1, h2, h3, h4, h5, h6,
p, strong, b,
.collapsible table {
	color: inherit !important;
}

.brandingImgWrap {
	aspect-ratio: 3.25 / 1;
	width: auto;
	height: 44px;
	margin: 5px 5px -10px 5px;
	background: $primary url("/branding/_1_1/uom_logo_learn2016theme.png") no-repeat;
	.bannerImage {
		display: none;
	}
}
.badge {
	background-color: $primary !important;
}
.topTabs,
#courseMenuPalette,
.menuWrap-inner,
.menuWrap,
#courseMenuPalette *,
#courseMenuPalette_paletteTitleHeading * {
	background: $header !important;
	color: $on-header !important;
}
.topTabs .tabWrapper-right {
	height: 3rem;
}
.appTabs td {
	padding-bottom: 0 !important;
}
.appTabs a {
	padding: 0 1.2em;
}


.portlet h2,
div.tab {
	background: transparent !important;
	color: inherit !important;
}
.portlet h2 {
	font-size: 2rem;
	padding-top: 5rem;
}
.collapsible {
	border-top-color: rgba(0,0,0,0.05);
}

.stream_page_left {
	background: rgba(0,0,0,0.02);
}
.gradeTableNew .calculatedRow.row {
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-box-shadow: 0 0 21px 4px $logo-color-box-shadow inset;
	-moz-box-shadow: 0 0 21px 4px $logo-color-box-shadow inset;
	box-shadow: 0 0 21px 4px $logo-color-box-shadow inset;
}

.ally-alternative-formats.ally-prominent-af-download-button {
	width: auto;
	height: 10px;
	aspect-ratio: 5 / 3;
	opacity: 0.8;
}

$orig_document_icon: "/images/ci/sets/set01/document_on.gif";
$orig_file_icon: "/images/ci/sets/set01/file_on.gif";
$orig_folder_icon: "/images/ci/sets/set01/folder_on.gif";
$custom_document_icon: "https://adil.hanney.org/public-assets/wow64-icon-theme/x-office-document.svg";
$custom_file_icon: "https://adil.hanney.org/public-assets/wow64-icon-theme/application-x-mswinurl.svg";
$custom_folder_icon: "https://adil.hanney.org/public-assets/wow64-icon-theme/folder.svg";

/* replace document and folder icons */
img[src="#{$orig_document_icon}"],
img[src="#{$orig_file_icon}"],
img[src="#{$orig_folder_icon}"] {
	width: 50px;
	height: 50px;
	background: url("#{$custom_folder_icon}") center center no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 50px;
}
img[src="#{$orig_document_icon}"] {
	background-image: url("#{$custom_document_icon}");
	filter: hue-rotate(35deg);
}
img[src="#{$orig_file_icon}"] {
	background-image: url("#{$custom_file_icon}");
	filter: hue-rotate(55deg);
}

#puller.pullcollapsed a {
	background-color: lighten($primary, 10%);
}

#containerdiv {
	border: none;
	background: none;
}
.liItem, .buildList > li {
	border: none !important;
	@include box-shadow-light-mode;
	margin-bottom: 3rem !important;
}
.portlet {
	margin: 0 1rem 3rem 1rem;
}
