@import "globals";

body,
.base-wrapper,
.base-body {
	background: $background;
	color: $on-background;
	border-color: transparent;
}

select,
.row-label, .device-bar {
	background: $surface;
	color: $on-surface;
}

a, a:hover,
.row-label .recommended,
.device-bar .recommended {
	color: $primary;
}

button,
.button,
input[type="submit"]:not(.link),
input[type="reset"],
input[type="button"] {
	&.positive {
		background: $primary;
		color: $on-primary;

		&:hover {
			background: darken($primary, 10%);
			color: $on-primary;
		}

		&:disabled {
			background: rgba($primary, 0.5) !important;
			color: $on-primary !important;
		}
	}
}

// hide white background of UoM logo
// by setting blend mode to darken
.base-navigation div[role="banner"] {
	background-image: url('/frame/logo?sid=MjExOTc4YTMxNDUwNDFlYzk3ZmYzYmQ1Y2FmNTBmMWQ=|130.88.226.13|1679584952|a44532c2bb57df09ebef998571491c436b713615');
	background-color: $background;
	background-size: contain;
	background-blend-mode: darken;

	img {
		opacity: 0;
	}
}
