@import "globals";

body, footer {
	background: $background;
	color: $on-background;
}
.container {
	position: static;
	width: 100%;
	margin: auto;
	padding: 2rem;
	max-width: 600px;
}
.column.one {
	width: 100%;
}
.column.two {
	display: none;
}

h3 {
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $primary;
	text-align: inherit !important;
}

#duo_iframe {
	display: block;
	margin: auto;
	border-radius: 1rem;

	// hide the Duo iframe's border
	outline: 1rem solid $background;
	outline-offset: -2px; // -2 * border-width
}
