@use "sass:color";
@import "fonts/hyperlegible";
@import "fonts/urbanist";

/// How these colours were obtained:
///
/// 1. Generate with https://m3.material.io/theme-builder#/custom
/// with the following settings:
/// - Primary: #8142a6
/// - Secondary: #000000
/// - Tertiary: #000000
///
/// 2. Find and replace all `--md-sys-color-` with `$`.
///    Find and replace all `-light:` with `:`.
///
/// 3. Copy relevant parts into this file.

$primary: #8142a6;
$on-primary: #fff;
$primary-container: #f5d9ff;
$on-primary-container: #30004a;
$primary-1: $primary;
$primary-2: color.mix($primary-1, $primary-container, 5%);
$primary-3: color.mix($primary-1, $primary-container, 10%);
$primary-4: color.mix($primary-1, $primary-container, 15%);

$secondary: #984061;
$on-secondary: #fff;
$secondary-container: #ffd9e2;
$on-secondary-container: #3e001d;

$tertiary: #984061;
$on-tertiary: #fff;
$tertiary-container: #ffd9e2;
$on-tertiary-container: #3e001d;

$background: #fffbff;
$on-background: #1d1b1e;

$error: #ba1a1a;
$error-container: #ffdad6;
$on-error: #fff;
$on-error-container: #410002;
$error-on-background: color.mix($on-background, $error, 75%);

$on-surface: #1d1b1e;
$surface-variant: #eadfea;
$on-surface-variant: #4b444d;
$surface-tint: $primary;
$surface-0: $background;
$surface-1: color.mix($surface-0, $surface-tint, 90%);
$surface-2: color.mix($surface-0, $surface-tint, 85%);
$surface-3: color.mix($surface-0, $surface-tint, 75%);

$outline: #7d747e;
$outline-variant: #cec3ce;

$inverse-on-surface: #f6eff3;
$inverse-surface: #332f33;
$inverse-primary: #e6b4ff;

$header: #1d1b1e; // $surface-dark
$on-header: #e8e0e5; // $on-surface-dark
$header-border: color.mix($header, #333, 20%);
$on-header-lighter: color.mix($on-header, white);

$shadow: rgba($primary, 0.10);

@function flatten-color($color, $background) {
    @return rgba(
        red($color) * alpha($color)
            + red($background) * (1 - alpha($color)),
        green($color) * alpha($color)
            + green($background) * (1 - alpha($color)),
        blue($color) * alpha($color)
            + blue($background) * (1 - alpha($color)),
        1
    );
}

@mixin fonts($selector: '*') {
    @include hyperlegible;
    @include urbanist;

    :root {
        --fonts-body: "Atkinson Hyperlegible", "Inter",
            ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji",
            FontAwesome, VideoJS, "Font Awesome 5 Free";
        --fonts-heading: "Urbanist", "Product Sans", var(--fonts-body);
    }

    #{$selector} {
        @include fonts-body;
        // 'liga' enables font ligatures, 'calt' enables contextual alternates
        font-feature-settings: 'liga' 1, 'calt' 1;
        font-smooth: always;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    .heading, .subheading,
    .title, .subtitle,
    #pageTitleHeader, #pageTitleText,
    .vjs-title-bar-link,
    .book-title {
        &, * {
            @include fonts-heading;
        }
    }
}

@mixin fonts-body {
    font-family: var(--fonts-body) !important;
}

@mixin fonts-heading {
    font-family: var(--fonts-heading) !important;
}
