@use "sass:color";
@import "globals";

/* set better fonts */
@include fonts;
* {
	accent-color: $primary !important;
}

html {
	font-size: 1rem !important;
}
.vtbegenerated {
	font-size: inherit;
}

.abutton {
	color: $primary;
}

#breadcrumbs {
    top: 0 !important;
}

/* disable quick links popup because I don't use it, remove these lines if you do use this */
#quick_links_wrap {
	display: none !important;
}

/* Replace welcome image */
img[src="https://online.manchester.ac.uk/branding/_96_1/welcome-image03.png"] {
	background: url("../assets/queens_arch.jpg") center center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-left: 100%;
	padding-top: 70%;
	border-radius: 0.5rem;
	mix-blend-mode: darken;
}

/* Remove padding around welcome image */
#module\:_278_1 .collapsible {
	padding: 0 !important;

	.vtbegenerated p {
		margin: 0;
	}
}

#div_308_1 > .vtbegenerated {
	// make scrollable
	max-height: 24rem;

	// hide hr
	hr {
		color: transparent;
	}
}


html,
body,
.locationPane,
.contentPane,
.steptitle,
div[id*="step"],
div[id*="Step"],
#dataCollectionContainer,
.container {
	background: $background;
	color: $on-background;
}
.container {
	border: none !important;
}
.locationPane {
	min-height: calc(100svh - 65px);
}

.contentPane .shadow {
	border-color: transparent;
}

a,
.portlet .subCategories li a,
.blockGroups .itemHead,
.blockGroups .itemHeadOpen,
[style*="color:#0000FF"],
[style*="color: #0000ff"],
[style*="color: blue"] {
	color: $primary !important;
}
.eval-links .genericButton,
.eval-links .button-4,
.eval-links input[type="button"].genericButton,
[style*="color: #174e86"] {
	color: color.adjust($primary, $lightness: -10%) !important;
}
[style*="color: #24a6bb"] {
	color: color.adjust($primary, $lightness: 10%) !important;
}
.detail-heading h2 a {
	border: none !important;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
p, strong, b,
.collapsible table {
	color: inherit !important;
}

.brandingImgWrap {
	aspect-ratio: 173.88 / 73.52;
	width: auto;
	height: 54px !important;
	margin: 12px 12px -30px;

	background: transparent;
	// SVG converted from https://www.staffnet.manchester.ac.uk/brand/visual-identity/logo/logo-downloads/
	background-image: url("../assets/TAB_allwhite.svg");
	background-repeat: no-repeat;
	background-size: contain;

	@media (width <= 1037px) {
		display: none;
	}
	.bannerImage {
		display: none;
	}
}
.badge {
	background-color: $primary !important;
}
.topTabs,
#globalNavPageNavArea,
#courseMenuPalette,
.menuWrap-inner,
.menuWrap,
#courseMenuPalette *,
#courseMenuPalette_paletteTitleHeading *,
.global-nav-bar-wrap {
	background: $header !important;
	color: $on-header !important;
}
.appTabs a {
	color: $on-header !important;
	padding: 0 1.2em;
}
#globalNavPageNavArea table.bouncer {
	border-bottom: 1px solid $header-border;
}
.topTabs .tabWrapper-right {
	height: 3rem;
}
.appTabs td {
	padding-bottom: 0 !important;
}
.topTabs {
	// add curved corners
	padding-bottom: 0.5rem;
	overflow-y: visible;
	&::before {
		content: "";
		position: absolute;
		bottom: -0.15rem;
		width: 100%;
		height: 0.5rem;
		background: $background;
		border-radius: 0.5rem 0.5rem 0 0;
	}
}


.portlet h2 {
	background: transparent !important;
	color: inherit !important;
}
.collapsible {
	border-top-color: transparent;
	padding: 2rem !important;
}
.tabcontent {
	padding: 0 !important;
}
div.tab {
	display: flex;
	flex-wrap: wrap;
	background: $surface-3 !important;
	color: $on-surface !important;
	margin: 0;
	padding: 0;
	height: auto;
	border-radius: 0.5rem;

	button {
		background: transparent !important;
		color: $on-surface !important;
		transition: background 0.1s ease-out, color 0.1s ease-out;
		font-size: 1rem;
		font-weight: bold !important;
		border: none;
		border-radius: 0.5rem;

		width: auto;
		height: 3rem;
		padding-inline: 3rem;
		flex: 1 0 12rem;

		&:hover {
			background: rgba(black, 0.05) !important;
			color: $on-surface !important;
		}
		&.active {
			background: $primary !important;
			color: $on-primary !important;
		}
		&.active:hover {
			background: color.adjust($primary, $lightness: -5%) !important;
			color: $on-primary !important;
		}
	}
}

.stream_page_left {
	background: $background;
	color: $on-background;
	border: none;
}
.gradeTableNew .calculatedRow.row {
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-box-shadow: 0 0 21px 4px $shadow inset;
	-moz-box-shadow: 0 0 21px 4px $shadow inset;
	box-shadow: 0 0 21px 4px $shadow inset;
}

.ally-alternative-formats.ally-prominent-af-download-button {
	width: auto;
	height: 10px;
	aspect-ratio: 5 / 3;
	opacity: 0.8;
}

$orig-document-icon: "/images/ci/sets/set01/document_on.gif";
$orig-file-icon: "/images/ci/sets/set01/file_on.gif";
$orig-folder-icon: "/images/ci/sets/set01/folder_on.gif";
$orig-coursework-icon: "/images/ci/sets/set01/assignment_on.gif";
$orig-piazza-icon: "/images/ci/sets/set01/link_on.gif";
$custom-document-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/mimetypes/x-office-document.svg";
$custom-file-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/mimetypes/application-x-mswinurl.svg";
$custom-folder-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/places/folder-black.svg";
$custom-coursework-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/apps/openboard.svg";
$custom-piazza-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/apps/org.kde.neochat.svg";
$custom-logout-icon: "https://raw.githubusercontent.com/luisrguerra/fluent11-icon-theme/main/fluent11/64x64/apps/system-log-out.svg";

/* replace document and folder icons */
img[src="#{$orig-document-icon}"],
img[src="#{$orig-file-icon}"],
img[src="#{$orig-folder-icon}"],
img[src="#{$orig-coursework-icon}"],
img[src="#{$orig-piazza-icon}"] {
	width: 50px;
	height: 50px;
	background: url("#{$custom-folder-icon}") center center no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 50px;
}
img[src="#{$orig-document-icon}"] {
	background-image: url("#{$custom-document-icon}");
	filter: hue-rotate(35deg);
}
img[src="#{$orig-file-icon}"] {
	background-image: url("#{$custom-file-icon}");
}
img[src="#{$orig-coursework-icon}"] {
	background-image: url("#{$custom-coursework-icon}");
	filter: hue-rotate(245deg);
}
img[src="#{$orig-piazza-icon}"] {
	background-image: url("#{$custom-piazza-icon}");
	filter: hue-rotate(10deg);
}

#puller.pullcollapsed a {
	background-color: color.adjust($primary, $lightness: 10%);

	@media only screen and (width <= 1037px) {
		background-color: transparent;
	}
}

#homeicon::before {
	// original is `margin: 3px 0 0 6px` but gets cut off at top
	margin: 6px 0 0 6px;
}

#containerdiv {
	border: none;
	background: none;
}
.liItem, .buildList > li {
	border: none !important;
	background: transparent !important;
	color: $on-background;
	margin-bottom: 3rem !important;
	box-shadow: none;

	.details {
		background: $surface-1;
		color: $on-surface;
		border-radius: 0.5rem;
		margin-left: 60px;
		padding: 1rem;

		&:-moz-only-whitespace {
			display: none;
		}
		&:empty {
			display: none;
		}

		> .vtbegenerated {
			overflow: visible;
		}
	}

	.details > .vtbegenerated > div[style*="float: right;"] {
		$floating-color: color.mix($surface-1, $primary, 90%);
		background: $floating-color !important;
		padding: 1rem !important;
		margin-bottom: 1rem;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border: none !important;

		// make it bleed into the side
		position: relative;
		padding-right: 0 !important;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -1rem;
			width: 1rem;
			height: 100%;
			background: inherit;
		}

		&[style*="width: 30%;"] {
			width: 100% !important;
			max-width: 25rem;
			box-sizing: border-box;
		}
	}

	.vtbegenerated table {
		$border-color: flatten-color(rgba($primary, 0.15), $background);
		$border-radius: 0.5rem;
		$border: 1px solid $border-color;

		background: $surface-2;
		color: $on-surface;
		width: auto !important;
		height: auto !important;
		border: $border;
		border-radius: $border-radius;

		tr, td {
			width: auto !important;
			height: auto !important;
		}

		td {
			padding: 0.5rem;
			border: $border;
			transition: background 0.1s ease-out;
		}

		tr {
			background: $surface-1;
		}
		tr:nth-child(odd) > td {
			background: rgba($border-color, 0.15);
		}
		tr:hover > td {
			background: rgba($border-color, 0.5);
		}
		&:has(thead > tr) thead,
		&:not(:has(thead > tr)) tbody {
			tr:first-child > td {
				background: $surface-2;
				font-weight: bold;
				&:first-child {
					border-top-left-radius: $border-radius;
				}
				&:last-child {
					border-top-right-radius: $border-radius;
				}
			}
		}
		tbody tr:last-child > td {
			&:first-child {
				border-bottom-left-radius: $border-radius;
			}
			&:last-child {
				border-bottom-right-radius: $border-radius;
			}
		}
	}
}
.portlet {
	margin: 0 2rem 2rem;
}

// remove dashed line above footer
[style*="border-bottom: 1px dashed"][style*="border-top: 3px solid"] {
	border: none !important;
	background: transparent !important;
}

// change logout button icon
.global-nav-bar.logout {
	height: auto !important;

	.logout-link {
		background-color: transparent !important;
		background-image: url($custom-logout-icon) !important;
		background-size: 70% !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		mix-blend-mode: lighten;
	}
}

#global-nav-link {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.global-top-avatar,
.eud-avatar {
	mix-blend-mode: unset;
	border-radius: 0.5rem;
}

iframe[src*="https://video.manchester.ac.uk"] {
	border-radius: 0.5rem;
	width: 100%;
	max-width: 100vh;
	max-width: max(100vh, 40rem);
	height: auto;
	// tall aspect ratio by default to avoid clipping
	aspect-ratio: 1.5;
	// more specific aspect ratios...
	&[width="960"][height="540"] {
		aspect-ratio: calc(960 / 540 + 0.04);
	}
	&[width="660"][height="362"] {
		aspect-ratio: calc(660 / 362 + 0.1);
	}
	&[width="660"][height="380"] {
		aspect-ratio: calc(660 / 380 + 0.1);
	}
}

strong {
	font-weight: 600;
}

.genericButton,

#primaryButton,
input[type="submit"].submit,
.button-1,
.button-1-img,

.button-2,
.button-3,
.button-4 {
	font-size: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0.5rem;
}
.genericButton {
	background-color: $surface-2;
	color: $on-surface !important;
	&:hover, &:focus {
		background-color: $surface-3;
	}
}
#primaryButton,
input[type="submit"].submit,
.button-1,
.button-1-img {
	background-color: $header;
	color: $on-header-lighter !important;
	&:hover, &:focus {
		background-color: $primary;
		color: $on-primary !important;
	}
}
.button-2 {
	background-color: $primary-2;
	color: $on-primary !important;
	&:hover, &:focus {
		background-color: $primary;
	}
}
.button-3 {
	background-color: $primary-3;
	color: $on-primary !important;
	&:hover, &:focus {
		background-color: $primary;
	}
}
.button-4 {
	background-color: $primary-4;
	color: $on-primary !important;
	&:hover, &:focus {
		background-color: $primary;
	}
}

img {
	// hide white background behind images
	mix-blend-mode: multiply;
}
