@use "sass:color";
@import "globals";

body,
.wrapper,
footer {
	background: $background;
	color: $on-background;
}
.container {
	position: static;
	width: 100%;
	margin: auto;
	padding: 2rem;
	max-width: 600px;
	box-sizing: border-box;
}
.column.one {
	width: 100%;
}
.column.two {
	display: none;
}

header img {
	display: none;
	background-color: $background;
	background-blend-mode: darken;
}

h3 {
	font-size: 1.2rem;
	color: $primary;
	text-align: inherit !important;
}
h3:last-of-type {
	text-transform: uppercase;
	font-size: 0.85rem;
	margin-top: 0.6rem;
	font-weight: normal;

	&, & a {
		color: $error-on-background !important;
	}
}

#duo_iframe {
	display: block;
	margin: auto;
	border-radius: 0.5rem;
	position: initial;
}
#duo_form {
	height: 0;
	padding: 0;
}
