@use "sass:color";
@import "globals";

body,
.base-wrapper,
.base-body {
	background: $background;
	color: $on-background;
	border-color: transparent;
}

select,
.row-label, .device-bar {
	background: $surface-1;
	color: $on-surface;
}
select:focus {
	box-shadow: none;
	border-color: $primary;
}

a, a:hover, a:focus,
.row-label .recommended,
.device-bar .recommended {
	color: $primary;
	outline: none;
}

button,
.button,
input[type="submit"]:not(.link),
input[type="reset"],
input[type="button"] {
	&.positive {
		background: $primary;
		color: $on-primary;

		&:hover,
		&:focus {
			background: color.adjust($primary, $lightness: -10%);
			color: $on-primary;
			outline: none;
		}

		&:disabled {
			background: rgba($primary, 0.5) !important;
			color: $on-primary !important;
		}
	}
}

// hide white background of UoM logo
// by setting blend mode to darken
.base-navigation div[role="banner"] {
	background: $background
		url('https://shib.manchester.ac.uk/shibboleth-idp/images/logo.png')
		no-repeat;
	background-size: contain;
	background-blend-mode: darken;
	aspect-ratio: 206 / 86;
	height: auto;
	margin-bottom: 1rem;

	@media (width <= 480px) {
		width: auto;
		max-height: 3rem;
	}

	img {
		display: none;
	}
}
