@use "sass:color";
@use "sass:string";
@import "globals";

$progress-bar-height: 1.5em; // up from 0.3em
$control-bar-border-radius: 0.5rem;
$progress-bar-border-radius: calc($control-bar-border-radius / 2);
$video-elem-background: rgba($header, 0.8);
$video-elem-color: color-mix(in oklab, $on-header, white 90%);

@include fonts;
*, *::before, *::after {
	accent-color: $primary !important;
  font-family: VideoJs, var(--fonts-body) !important;
}

html, body,
#main,
.vl-video-embedded,
#video,
video,
.vjs-poster {
  background-color: $header !important;
  color: $on-header;
  color-scheme: dark;
  padding: 0;
  margin: 0;
  height: 100%;
}

.vjs-caption-settings {
  top: 5rem;
  background: $video-elem-background;
  border-radius: $control-bar-border-radius;
}

.video-js .vjs-control-bar {
  background: $video-elem-background !important;
  color: white !important;
  color: $video-elem-color !important;
  border-top-left-radius: $control-bar-border-radius;
  border-top-right-radius: $control-bar-border-radius;
  width: auto;
}

.vjs-volume-menu-button.vjs-menu-button-inline .vjs-menu-content {
  // center volume bar vertically
  display: flex;
  align-items: center;
}

.video-js .vjs-slider-horizontal {
  // Make the hitbox for the progress bar bigger
  height: $progress-bar-height;

  border-radius: $progress-bar-border-radius;
  background: rgba($on-header, 0.1);
  color: $on-header;
  border: 1px solid rgba($on-header, 0.1);
  cursor: ew-resize;

  * {
    border-radius: inherit;
  }

  .vjs-load-progress {
    background: rgba($on-header, 0.2);
    transition: width 1s ease-in;
    * {
      opacity: 0;
    }
  }

  .vjs-play-progress,
  .vjs-volume-level {
    background: $on-header;
    height: 100%;

    &::before { // handle of the progress bar
      content: none;
    }
  }

  .vjs-mouse-display::after,
  .vjs-play-progress::after {
    font-size: 1rem !important;
    background: flatten-color(rgba($on-header, 0.1), $video-elem-background);
    color: $on-header;
    border-radius: $progress-bar-border-radius;
    padding: 0 0.25rem 0.25rem 0.25rem;
    top: -2rem;
  }
}
.video-js .vjs-progress-control .vjs-progress-holder,
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  // don't resize the progress bar when hovering over it
  font-size: inherit !important;
}

.video-js .vjs-title-bar-link { // title of the video
  width: auto;
  padding-left: 2em;
  padding-right: 2em;
  background: $video-elem-background;
  color: $on-header;
  border-radius: 0.5em;

  top: 1em;
  right: 50%;
  left: auto;
  transform: translateX(50%);

  font-size: min(2em, 4vw, 6vh);

  > a {
    color: inherit !important;
    text-decoration: none;
  }
}

.vjs-menu-button-popup .vjs-menu {
  &, .vjs-menu-content {
    background: $video-elem-background !important;
    color: white !important;
    color: $video-elem-color !important;
    border-radius: $control-bar-border-radius $control-bar-border-radius 0 0;

    * {
      background: transparent !important;
      color: white !important;
      color: $video-elem-color !important;
    }
  }

  .vjs-menu-item {
    background: transparent;
    color: $on-surface;
    box-shadow: none !important;

    &.vjs-selected {
      background: rgba($primary, 0.1);
    }

    &:hover,
    &:focus {
      background: rgba($primary, 0.2);
    }
  }
}

.video-js .vjs-control::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* animate menu opening */
.vjs-menu-button-popup .vjs-menu {
  display: block !important;
  opacity: 0;
  transition: opacity 0.075s;
  pointer-events: none;
}
.vjs-menu-button-popup .vjs-menu.vjs-lock-showing,
.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu {
  opacity: 1;
  pointer-events: auto;
}

.vjs-downloads-button {
  /* hide the "Download Subtitles and Transcription" button */
  display: none;
}

/* captions */
.vjs-text-track-display > div > div > div {
    background: $video-elem-background !important;
    color: white !important;
    color: $video-elem-color !important;
    border-radius: 0.2em !important;
    font-size: 75% !important;
    font-size: min(75%, 2rem) !important;
    display: inline-block !important;
    max-width: 20em !important;
    padding: 0 1em !important;
    text-align: start;
    text-wrap: balance;
    text-wrap: pretty;

    @include fonts-body;
}

.vjs-new-tab-control {
  background: url("../assets/up-right-from-square.svg") no-repeat center !important;
  background-size: 1.3em !important;
  background-position-y: 40% !important;
  cursor: pointer;
  flex: none;
}

.vjs-amplify-control[aria-valuetext] {
  background: url("../assets/ear-listen-solid.svg") no-repeat center !important;
  background-size: 1.3em !important;
  background-position-y: 40% !important;
  cursor: pointer;
  flex: none;

  &::before {
    all: unset;
    content: attr(aria-valuetext);
    display: block;
    font-size: 1.25em;
    position: absolute;
    bottom: 15%;
    left: 60%;
  }
  &[aria-valuetext="1"] {
    opacity: 0.5;
    &::before {
      content: "";
    }
  }

  @for $i from 2 through 10 {
    &[aria-valuetext="#{$i}"] {
      opacity: calc(0.8 + 0.2 * $i / 10);
    }
  }
}

/* in fullscreen, use a better scaling algorithm */
:fullscreen video,
video:fullscreen {
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  // this is a hack to force SCSS to allow the above vendor prefixes
  --foo: "bar";

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* play and pause animations */
#video.video-js {
  $on-surface-without-hash: string.slice(color.ie-hex-str($on-surface), 4);
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem 0 0 -2rem;
    pointer-events: none;
    opacity: 0;
    animation: animation-that-doesnt-exist 0.5s ease-out;
    z-index: 1000;
  }
  &.vjs-playing::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$on-surface-without-hash}' d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E%3C/svg%3E");
    animation-name: bounce-out-0;
  }
  &.vjs-paused::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$on-surface-without-hash}' d='M8 5v14l11-7z'/%3E%3C/svg%3E");
    animation-name: bounce-out-1;
  }

  @for $i from 0 through 1 {
    // We need multiple animations so we can restart the animation when the state changes
    @keyframes bounce-out-#{$i} {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }
}
