@import "globals";

body,
.t-main-background {
	background-color: $background;
	color: $on-background;
}

.c-nav-menu,
.s-logo-container,
.main-header,
.o-footer {
	background-color: $header;
	color: $on-header;

	.c-title-link {
		color: $on-header;
	}
}
.main-header {
	max-width: unset;
	padding-inline: 1rem;
}

.c-button {
	background-color: $on-primary;
	color: $primary;
	border: none;
}
.c-button--secondary,
.c-button--secondary--outline {
	background-color: $on-secondary;
	color: $secondary;
	border: none;

	&:hover, &:focus {
		background-color: $secondary;
		color: $on-secondary;
	}
}
a {
	color: $primary;
}

.c-promotion,
.c-teaser-text-box,
.t-bg-white,
.o-panel,
.o-panel-body {
	border: none !important;
	background: $surface-1;
	color: $on-surface;
	box-shadow: none;
	border-radius: 0.5rem;

	.u-font-bold:not(h2) {
		font-size: 1.5rem;
		padding-top: 1rem;
	}

	h2 {
		font-size: 2rem;
		padding-top: 5rem;

		+ hr {
			opacity: 0;
		}
	}
}

.c-em-heading {
	background: $surface-1;
	color: $on-surface;

	&:hover, &:focus {
		background: $surface-1;
		color: $on-surface;
	}
}

.highcharts-background {
	fill: $surface-2;
	rx: 0.5rem;
	ry: 0.5rem;
}
