@import "globals";

/* set better fonts */
@include fonts('body *');

* {
    accent-color: $primary !important;
}

/* navbar */
#side-menu {
    background: $header !important;
    color: $on-header;

    /* logo header */
    header {
        background: $header !important;
        color: $on-header;
        border: none !important;
        box-shadow: none !important;
    }
}

body, #site-wrap {
    background: $background !important;
    color: $on-background;
}

.base-courses-header-container,
nav.term-navigator {
    background: transparent !important;
    color: $on-background;
    border: none;
}

.course-org-list {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)) !important;
    gap: 1rem !important;

    hr {
        display: none;
    }

    .course-element-card {
        border-radius: 0.5rem;
        border: none;
        background: $surface-1;
        color: $on-surface;
        margin: 0 !important;

        height: auto !important;
        min-height: 15rem;

        .course-banner {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-color: rgba(black, 0.1);
        }

        &[style*="--module-image"]:not([style*="--module-image: none"]) {
            .course-banner {
                background-image: var(--module-image) !important;
            }
        }

        .summary {
            background: inherit;
            border-radius: inherit;
            margin-top: -1rem !important;

            .course-title h4 {
                -webkit-line-clamp: 3 !important;
                text-decoration: none !important;
            }

            .multi-column-course-id,
            .course-status {
                display: none !important;
            }
        }
    }
}

.multi-column-view .course-org-list {
    .course-element-card {
        transform: none !important;
        transition-duration: 0.1s !important;
        transition-timing-function: ease-out !important;
        position: relative;
        box-shadow: none !important;

        .summary {
            grid-template-rows: auto !important;
        }

        &::before {
            all: unset;
            content: "";
            display: block !important;
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;
            box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.3) !important;
            opacity: 0.25;
            transition: opacity 0.1s ease-out;
        }
        &:hover::before {
            opacity: 1;
        }
    }
}

.list-column-view .course-org-list {
    .course-element-card {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}