@import "globals";

// "Test information" box
.infoListWrapper {
	background: $surface;
	color: $on-surface;
	border: none;
	padding: 1rem;
	border-radius: 0.5rem;
}

.steptitle, div[id*="step"], div[id*="Step"], #dataCollectionContainer, .container {
	background-color: $background;
	color: $on-background;
	border: none;
}

// question container
.takeQuestionDiv,
#dataCollectionContainer {
	background: $background;
	color: $on-background;
	border: none;
	padding: 1rem;
	margin-bottom: 6rem;

	// question number
	.steptitle {
		background: transparent;
		color: rgba($on-background, 0.9) !important;
		font-size: 2rem;
		margin-bottom: -3rem;
		text-transform: none;
	}

	// question answer container
	div[id*="stepcontent"] {
		background-color: $surface !important;
		color: $on-surface;
		border: none;
		padding: 1rem;
		border-radius: 0.5rem;

		ol li {
			div.label {
				font-weight: 600;
			}
			div.label,
			div.label ~ div.field {
				float: none;
				margin: 0;
				width: auto;
			}
		}
	}

	// question title
	.legend-visible {
		margin-bottom: 1rem;
	}

	select {
		background: $surface-elevation-2;
		color: $on-surface;
		border: none;
		border-radius: 0.5rem;
		padding: 0.5rem;
		margin-inline-end: 1rem;
	}

	.matching-table {
		border-collapse: initial;

		td[width="50%"]:first-child {
			tr {
				border-inline-end: 2rem solid transparent;
			}
			td {
				border-bottom: 0.5rem solid transparent;
			}
		}

		@media only screen and (width >= 0) and (width <= 736px) {
			> tbody > tr {
				display: block;
				> td {
					display: block;
					width: 100%;
				}
			}
		}

		table[id^="readAnswers"] {
			background: $surface-elevation-1;
			color: $on-surface;
			padding: 0.5rem;
			border-radius: 0.5rem;
			border-collapse: separate;
			border-spacing: 0.5rem;

			td.matching-numbering {
				background: $surface-elevation-2;
				color: $on-surface;
				padding: 0.5rem;
				border-radius: 0.5rem;

				~ td {
					vertical-align: bottom;
				}
			}
		}
	}

	.multiple-answer-table,
	.multiple-choice-table {
		tr {
			display: flex;
			gap: 0.5rem;
			margin-bottom: 0.5rem;
		}
		td.multiple-option-row:first-child {
			background: $surface-elevation-2;
			color: $on-surface;
			padding: 0.5rem;
			border-radius: 0.5rem;
			align-self: flex-start;

			input {
				margin: 0;
			}

			@media only screen and (width >= 0) and (width <= 736px) {
				padding: 0.5rem !important;
				position: initial;

				input {
					position: initial !important;
					margin: 0 !important;
				}
			}

			// there is an empty <td> which messes up spacing
			~ td:empty {
				display: none;
			}
			~ td:-moz-only-whitespace {
				display: none;
			}

			~ td {
				align-self: end;
			}
		}
	}
}

// container for the "save answer" button and "1 points" text
.takeQuestionDiv .stepTitleRight.liveArea,
#assessmentGradeForm .stepTitleRight.liveArea {
	box-shadow: none;
	border: none;
	background: transparent;
	top: unset;
	bottom: 1rem;

	.taskbuttondiv {
		display: flex;
		flex-flow: column-reverse wrap;
	}
}

// container for the "save answer" button and help message
.submitStepBottom {
	background: transparent;
	border: none;
	box-shadow: none;

	// redundant help message
	// "Click Save and Submit to save and submit. Click Save All Answers to save all answers."
	.taskbuttonhelp {
		display: none;
	}

	// button container
	#bottom_submitButtonRow {
		background: $surface !important;
		color: $on-surface !important;
		padding: 1rem 2rem !important;
		border-radius: 0.5rem;
		transition: background 0.2s ease-in-out;
	}
	// button container when submitStepBottom is sticky
	&.submitStepFixed #bottom_submitButtonRow {
		background: $surface-elevation-1 !important;
	}
}

// selector taken from original css;
// selects the "Question Completion Status" box at the top
.nav .sub ul, .nav.gb_currView .sub > ul, .menumini ul, .quickAddPal, .keyboardAccess, span.currentTags, .liveArea, .liveArea-slim, .previewArea, .jumptopage, .panelTabs li.active a.edit, .panelTabs li.active a.edit:hover, .panelTabs li.active a.edit:focus, .flyout, .bcContent .flyout, ul.tree li a + img + a:focus, ul.tree li img + img + a:focus, div.treeContainer ul.tree li a.itemActive, #learningUnitToc ul.tree li a.itemActive, ul.tree li a.itemActive, #loginLang ul {
	background: $surface;
	color: $on-surface;
	border: none;
	border-radius: 0.5rem;
}

// #topbar contains the "Question Completion Status" box
#topbar {
	margin-top: 1rem;
	transition: top 50ms ease-out;

	.timer.liveArea {
		padding: 1rem;
	}
	&[style*="top: 0px;"] .timer.liveArea {
		// darker when sticky
		background: $surface-elevation-1;
	}

	.completionContainer {
		.qIncomplete,
		.qComplete {
			border: 0.1rem solid rgba(black, 0.1);
			padding: 0.5rem;
			border-radius: 0.5rem;
			background: $surface-elevation-2;
			color: $on-surface;

			img[src="/images/ci/icons/file_li.gif"] {
				width: 1rem;
				height: 1rem;
				padding-left: 1rem;
				padding-top: 1rem;
				margin-left: 0.1rem;
				background: url("/images/ci/icons/current_li.png") center center no-repeat;
				background-size: contain;
				box-sizing: border-box;
				mix-blend-mode: normal;
			}
		}
		.qComplete {
			background: $primary;
			color: $on-primary;
		}
	}
}
