@import "globals";

.portlet,
.container,
div.container {
	background: transparent;
	border: none;
	h2 {
		font-size: 2rem;
	}
	h2 ~ div {
		background: $surface;
		color: $on-surface;
		border-radius: 0.5rem;
	}
}

#content > .container {
	background: transparent;
	box-shadow: none;
}

.listElement,
.courseListing {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;

	li {
		border: none;
		background: rgba($primary, 0.1);
		color: $on-surface;
		border-radius: 0.5rem;
		padding: 0 !important;
		margin: 0 !important;

		&:hover {
			background: rgba($primary, 0.2);
		}

		&.secondary {
			background: rgba($secondary, 0.05);
			color: $on-surface;

			&:hover {
				background: rgba($secondary, 0.1);
			}
		}

		a {
			display: block;
			padding: 1rem 1rem 2rem;
			min-height: 4em;
			color: $on-surface !important;
		}
	}
}

@media (width <= 1400px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width <= 1037px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (width <= 800px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (width <= 555px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr;
	}
}

// hide blackboard footer
div.container {
	padding-bottom: 0;
	margin-bottom: 0;
}
.uomFooter {
	display: none;
}

// add course images
.listElement,
.courseListing {
	li[data-module-code] {
		position: relative;

		--bg-url: url("https://raw.githubusercontent.com/adil192/BlackboardTheme/main/assets/queens_arch.jpg");

		> a {
			padding-top: 7rem !important;
		}
		> a::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 5rem;
			background-image: var(--bg-url);
			background-size: cover;
			background-position: center;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}
	}

	@mixin module-image($module-code, $extension: jpg) {
		li[data-module-code^="#{$module-code}"] {
			--bg-url: url("https://raw.githubusercontent.com/adil192/BlackboardTheme/main/assets/subjects/#{$module-code}/#{$module-code}.#{$extension}");
		}
	}

	@include module-image(ARDSE001);
	@include module-image(COMP);
	@include module-image(COMP30040);
	@include module-image(COMP33511);
	@include module-image(COMP38311);
	@include module-image(MATH);
	@include module-image(MATH31051, png);
	@include module-image(MATH32031);
	@include module-image(MATH32091, png);
	// add your subject code above this line
}
