@import "globals";

.portlet,
.container,
div.container {
	background: transparent;
	border: none;
	h2 {
		font-size: 2rem;
	}
	h2 ~ div {
		background: $surface-1;
		color: $on-surface;
		border-radius: 0.5rem;
	}
}

#content > .container {
	background: transparent;
	box-shadow: none;
}

.listElement,
.courseListing {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;

	li {
		border: none;
		background: $surface-2;
		color: $on-surface;
		border-radius: 0.5rem;
		padding: 0 !important;
		margin: 0 !important;
		transition: background 0.1s ease-out;

		&:hover {
			background: $surface-3;
		}

		&.secondary {
			background: rgba($secondary, 0.05);
			color: $on-surface;

			&:hover {
				background: rgba($secondary, 0.1);
			}
		}

		a {
			display: block;
			padding: 1rem;
			min-height: 4em;
			color: $on-surface !important;
		}
	}
}

@media (width <= 1400px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width <= 1037px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (width <= 800px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (width <= 555px) {
	.listElement,
	.courseListing {
		grid-template-columns: 1fr 1fr;
	}
}

// hide blackboard footer
div.container {
	padding-bottom: 0;
	margin-bottom: 0;
}
.uomFooter {
	display: none;
}

// add course images
.listElement,
.courseListing {
	li[data-module-code] {
		position: relative;

		// default bg, override in add_course_images.js
		--bg-url: url("https://raw.githubusercontent.com/adil192/BlackboardTheme/main/assets/queens_arch.jpg");

		> a {
			margin-top: 5rem !important;
			background: inherit;
			border-radius: 0.5rem;
			position: relative;
			z-index: 1;

			&::before,
			&::after {
				content: '';
				position: absolute;
				border-radius: inherit;
				z-index: -1;
			}
			&::before {
				top: -5rem;
				left: 0;
				right: 0;
				height: 6rem;
				background-color: $shadow; // fallback for bgs with transparency
				background-image: var(--bg-url);
				background-size: cover;
				background-position: center;
			}
			&::after {
				inset: 0;
				background: inherit;
				border-top: 0.1rem solid $shadow;
			}
		}
	}
}
