@import "globals";

/* set better fonts */
@include fonts('body *');

* {
    accent-color: $primary !important;
}

body, #site-wrap {
    background: $background !important;
    color: $on-background;
}

.base-header {
    background: transparent !important;
    color: $on-background;
    border: none;
    align-items: end;
}

nav.term-navigator {
    display: none !important;
}

/* navbar */
#side-menu {
    background: $header !important;
    color: $on-header;

    /* logo header */
    header {
        background: $header !important;
        color: $on-header;
        border: none !important;
        box-shadow: none !important;
        margin-bottom: 2rem;

        a {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 174 / 74;
            background: url('https://raw.githubusercontent.com/adil192/BlackboardTheme/main/assets/TAB_allwhite.svg') no-repeat center;
            background-size: 90%;

            > img {
                display: none;
            }
        }
    }

    /* footer with links: Privacy, Terms, Accessibility */
    .side-menu-footer {
        display: none;
    }
}

.color-selection-live-mode .themed-background-primary,
.color-selection-live-mode .bb-close,
.color-selection-live-mode .bb-offcanvas-panel .bb-close,
.color-selection-live-mode .active .base-navigation-button-content,
.color-selection-live-mode .active .integration-navigation-button-content {
    background-color: $primary !important;
    color: $on-primary !important;
}

.base-courses .course-card-term-name {
    margin-top: 1rem;
    margin-bottom: 0;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    h3 {
        margin: 0;
    }
}

.course-org-list {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr)) !important;
    gap: 1rem !important;

    hr {
        display: none;
    }

    .course-element-card {
        border-radius: 0.5rem;
        border: none;
        background-color: $surface-1;
        color: $on-surface;
        transition: background-color 0.1s ease-out;
        box-shadow: none !important;

        height: auto !important;
        min-height: 0;

        .course-banner {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-color: rgba(black, 0.1);
            transition: filter 0.1s ease-out;
        }

        &[style*="--module-image"]:not([style*="--module-image: none"]) {
            .course-banner {
                background-image: var(--module-image) !important;
            }
        }

        &:hover {
            background-color: $surface-2;
            color: black;

            .course-banner {
                filter: grayscale(0.3) brightness(0.9) opacity(0.9);
            }
        }

        .summary {
            background-color: inherit;
            border-radius: inherit;
            min-height: 7.5rem;
            z-index: 1;
            transition: background-color 0.1s ease-out;

            .course-title {
                color: inherit;
                h4 {
                    -webkit-line-clamp: 3 !important;
                    text-decoration: none !important;
                    color: inherit;
                }
            }

            .multi-column-course-id,
            .course-id,
            .course-status {
                display: none !important;
            }

            .status-bar {
                padding: 0 !important;
            }
            .controls {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
                gap: 0.1rem;
                > * {
                    margin: 0 !important;
                    flex: 1;
                }
            }
        }

        --box-shadow: 1rem;
        &::after {
            all: unset;
            content: "";
            display: block !important;
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;
            box-shadow: 0 calc(var(--box-shadow) / 4)
                var(--box-shadow) 0
                $header !important;
            opacity: 0.1;
            transition: opacity 0.1s ease-out;
        }
        &:hover::after {
            opacity: 0.2;
        }
    }
}

.multi-column-view .course-org-list {
    .course-element-card {
        transform: none !important;
        transition-duration: 0.1s !important;
        transition-timing-function: ease-out !important;
        position: relative;
        box-shadow: none !important;
        margin: 0 !important;

        .summary {
            grid-template-rows: auto !important;
            grid-template-columns: 1fr auto !important;
            margin-top: -1rem !important;
        }
    }
}

.list-column-view .course-org-list {
    .course-card-term-name {
        margin-bottom: 0.5rem;
    }
    .course-color-classic::before {
        background-color: $header !important;
    }
    .course-element-card {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0.5rem !important;
        --box-shadow: 0.5rem;

        .summary {
            display: flex;
            flex-flow: row-reverse nowrap;
            gap: 1rem;
            min-height: 0;

            > .small-12:first-child {
                display: none;
            }
        }

        .course-title {
            flex-grow: 1;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .course-type {
            color: $on-surface;
            opacity: 0.5;
        }
        .course-type:not(:empty) {
            &::before { content: '('; }
            &::after { content: ')'; }
        }

        .element-details .status-bar {
            display: none;
        }
        .controls {
            padding: 0;
            margin: 0;
            width: auto;
            height: auto;
        }
    }
}

#__SVG_SPRITE_NODE__ {
    #icon-small-star-press > path {
        fill: $primary;
        stroke: $primary;
        --icon-fill-color: $primary !important;
    }
}

@media only screen and (min-width: 64em) {
    .bb-offcanvas-panel.full {
        width: calc(100% - 3rem) !important;
    }
}
